.forest {
  background-image: url('assets/img/forest.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
}

@media (max-width: 767px) {                  
  .hide {
     display: none;
  }
}