<header>
  <div class="pa3 pa4-ns">
    <div class="flex">
      <div class="w-33-ns">
        <h1 class="f2">Manuel Rodeiro</h1>
      </div>
      <div class="w-66 hide">
        <h4 class="f4">Ph.D. Candidate in Philosophy at the Graduate Center, CUNY</h4>
        <h4>Adjunct Professor of Philosophy at Baruch College</h4>
      </div>    
    </div>
    <nav>
      <a class="link dim gray    f6 f5-ns dib mr3" a href="/about/">About</a>
      <a class="link dim gray    f6 f5-ns dib mr3" a href="/teaching/">Teaching</a>
      <a class="link dim gray    f6 f5-ns dib mr3" a href="/research/">Research</a>
      <a class="link dim gray    f6 f5-ns dib mr3" a href="/cv/">CV</a>
    </nav>
  </div>
</header>